body {
    background-image: url('https://images.unsplash.com/photo-1696643830146-44a8755f1905?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
}
.profile {
    background-image: url('https://images.unsplash.com/photo-1696643830146-44a8755f1905?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    text-align: center;
    gap: 10px;
    align-items: center;
}
.profile p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 50px;
    padding: 10px;
}
.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.name {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}
.address {
    color: rgb(216, 231, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
}
.bio {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    padding: 10px;
}
.links {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.links a {
    display: block;
    background-color: slategray;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 15px 25px;
}
.links a:hover {
    background-color: black;
    text-decoration: underline;
    border-bottom: 2px solid;
    transition: all .3s linear;
    border-radius: 8px;
}